# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://username:password@localhost:3306/yourdatabase"

# JWT secret key
JWT_SECRET=secret
JWT_EXPIRES_IN="2h"

# Server port
APP_PORT=5000

# Bcrypt rounds
BCRYPT_ROUNDS=12

# Raja Ongkir
RAJAONGKIR_API_KEY="9dcf4e6fda59ae56b9a79e1718631454"

# Midtrans API
MIDTRANS_API_KEY="U0ItTWlkLXNlcnZlci1yc1V0R3Ztb0xPRGVrYl9ROEJaS2daQTM="